{% extends 'base.html.twig' %}

{% block title %}Product | {{product.aliProductTitle}} {% endblock %}

{% block body %}
	<div>
		<a href="{{ path('list') }}">
			Back
		</a>
	</div>
	<h3>Ali Product ID: {{product.aliProductId}}</h3>
	<p>Ali Product Name: {{product.aliProductTitle}}</p>
	<p> Price: ${{product.aliSalePrice}}</p>
	<p><a href="{{ product.aliAffiliateUrl }}" target="_blank">Buy</a></p>
	<p>User-uploaded Images:</p> 

	{% for photo in photos %}
		<div style="float:left;">
			<img src="{{ photo.awsImgUrl }}" alt="USER IMAGES HERE">
		</div>
	{% endfor %}
	
{% endblock %}